/* Page Index */

//Section about us
.home {
  margin: 2rem 0;
  text-align: center;

  &__title {
    color: black;
    font-size: 48px;
    margin: 0;
  }

  &__title_card {
    color: black;
    font-size: 20px;
  }

  &__parrafo_card {
    color: black;
    font-size: 18px;
  }
}
