/* About page */
.about {

  &_banner {
    display: flex;
    background-image: linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.3)
    ), url("https://images.pexels.com/photos/3759080/pexels-photo-3759080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #333333;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 360px;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 48px;
    }

    &:before {
      background-color: #000000;
      opacity: 0.35;
    }
  }

  &_section_banner {
    background-color: rgba(2, 38, 64, 0.4);
  }

  &_section_1 {
    margin: 2rem 0;

    &__title {
      color: black;
      font-size: 36px;
      font-weight: lighter;
    }

    &__paragraph {
      color: black;
    }
  }


  &_quiestions {

    &__title {
      color: black;
    }


  }

}
